@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family:'Poppins', sans-serif;  
    background-image: url("images/carcopy.png");
}

/*----------------------------- MENU ------------------------ */
.menu{
    background: #030201;
    line-height: 130%;
    text-align: center;
}

.menu ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-align: center;
}

.menu li{
    display: inline-block;
}

.menu a{
    letter-spacing: 1px;
    text-decoration: none;
    text-align: center;
    font-size: 19.5px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 75px;
    color: #d3d3d3;
    padding: 0 27px;
    border: none;
    display: list-item;
}

.menu a:hover{
    text-decoration: underline;
    color: #fff;
}

.logo{
    cursor: pointer;
    margin: auto;
    margin-bottom: -15px;
}

@media screen and (max-width: 768px) { .menu { line-height: 160%; }
.menu a {
    font-size: 16px;
    line-height: 50px;
    padding: 0 15px;
}
}

@media screen and (max-width: 576px) { .menu a { font-size: 14px; padding: 0 10px; } }

@media screen and (max-width: 480px) { .menu { line-height: 200%; } 
.menu a {
    font-size: 12px;
    line-height: 40px;
    padding: 0 5px;
}
}

/*----------------------------- HEADER ------------------------ */
.header h1 {
    color: #fff;
    font-size: 85px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    text-align: center;
  }
  
.header p {
    color: #d3d3d3;
    font-size: 18px;
    margin: 7px;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

.header p:hover {
    color: #fff;
}

/*---------Responsive---------*/
@media (max-width: 768px) {
  .header h1 {
    font-size: 60px;
  }

.header p {
    font-size: 16px;
  }
}
/*-------------------- BUTTON ------------------- */
.button1{
    padding: 12px 28px 12px 28px;
    border-color:#fff;
    border-radius: 20px; 
    color:#fff;
    font-size: medium;
    text-align: center;
    display: block;
    margin: 0 auto;
}  

.link{
    text-decoration: none;
}

/*----------------------------- COMPANY INFORMATION ------------------------ */
.company-info h3{
    color:#fff;
    font-family: 'Montserrat', sans-serif;
    font-size: 39px;
    text-align: center;
}

.company-info p{
    color: #d3d3d3;
    font-size: 16.5px;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

.company-info p:hover{
    color:#fff;
}

.box-wrapper {
    display: flex;
    
    justify-content: space-around;
    padding-left: 27px;
    padding-right: 27px;
  }

  .box { 
    flex: 0.5; 
    
    margin: 8px;
    padding: 11px;
    color: #fff;
    border:solid #fff;
    border-radius: 11px;
}

.box h3{
    color:#fff;
    font-size: 34px;
    font-family: 'Times New Roman', Times, serif;
}

.box h4{
    font-size: 24px;
    font-family:Arial, Helvetica, sans-serif;
}


.box p{
    font-size: 17.5px;
    color: #d3d3d3;
}

.box p:hover {
    color: #fff;
}

.text{
    color: #fff;
}

.container{
    column-count: 2;
    column-width: 200px;
    column-gap: 20px;
    padding: 0 15px 15px 15px;
}

.container h3{
    color: #fff;
    font-size: 43px;
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;
    padding: 50px;
}

.container p{
    color: #d3d3d3;
    font-family: 'Montserrat', sans-serif;
    font-size: 16.7px;
    letter-spacing: .5px;
    padding: 20px;
}

.container p:hover{
    color: #fff;
}

.car-1 {
    text-align: center;
  }
  
  .car1 {
    width: 85%; 
    height: 60%;
    border-radius: 10px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
  }

/*---------Responsive---------*/
  @media (max-width: 768px) {
    .company-info h3 {
        font-size: 28px;
    }
    
    .company-info p {
        font-size: 14px;
    }
    
    .box-wrapper {
        flex-direction: column;
        padding: 0;
    }
    
    .box {
        flex-basis: auto;
        margin: 8px 0;
        padding: 11px;
    }
    
    .box h3 {
        font-size: 24px;
    }
    
    .box h4 {
        font-size: 20px;
    }
    
    .box p{
        font-size: 14px;
    }
    
    .container {
        column-count: 1;
        padding: 0 15px;
    }
    
    .container h3 {
        font-size: 32px;
        padding: 30px 0;
    }
    
    .container p {
        font-size: 14px;
        padding: 10px 0;
    }
    
    .car-1 {
        text-align: center;
    }
    
    .car1 {
        width: 100%;
        height: auto;
    }
}
  /*----------------------------- CAR BRAND ------------------------ */
.car-brand h3{
    color:#fff;
    font-family: 'Montserrat', sans-serif;
    font-size: 42px;
    text-align: center;
    padding: 40px 0 4px 0;
}

.car-brand p{
    color: #d3d3d3;
    font-size: 16.5px;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

.car-brand p:hover{
    color:#fff;
}

/*---------Responsive---------*/
@media screen and (max-width: 768px) {
  .car-brand h3 {
      font-size: 28px;
      padding: 20px 0 4px 0;
  }
  
  .car-brand p {
      font-size: 14px;
  }
}

/*----------------------------- PRODUCT TITLE ------------------------ */
.brand h3{
    color: #fff;
    font-size: 50px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    text-align: center;
    padding: 35px 0px 0px 0px;
}
  
.brand p{
    color: #d3d3d3;
    font-size: 18px;
    margin: 7px;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

.brand p:hover{
    color: #fff;
}

/*---------Responsive---------*/
@media only screen and (max-width: 600px) {
  .brand h3{
    font-size: 30px;
    padding: 20px 0;
  }
  
  .brand p{
    font-size: 14px;
  }
}
/*----------------------------- PRODUCT ------------------------ */
.car-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 25px;
    margin-top: 30px;
}

.card{
  display: inline-block;
  margin: 1%;
  width: 330px;
  border-radius: 8px;
  border: 1px solid #fff;
  overflow: hidden;
}

.card img{
  width: 100%;
  height: 51%;
  object-fit: cover;
}

.card-content{
  padding: 20px;
}

.card-content h4{
  color:#fff;
  font-weight: 500;
  font-family: 'Montserrat', sans-serif;;
  font-size: 22px;
}

.card-content p{
  color:#d3d3d3;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
}

.card-content p:hover{
  color:#fff;
  font-size: 16px;
}

.card-content h2{
  color:#fff;
  font-family: 'Montserrat', sans-serif;
  font-size: x-large;
}

/*---------Responsive---------*/
@media only screen and (max-width: 768px){
  .card{
    width: 100%;
  }
}
/*----------------------------- FOOTER -------------------------- */
.footer {
    position: absolute;
    left: 10%;
    max-width: 1280px;
    width: 100%;
    border-radius: 6px;
  }
  .footer .footer-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 3.5rem;
    padding: 50px;
  }
  .footer-row .footer-col h4 {
    color: #fff;
    font-size: 1.2rem;
    font-weight: 400;
  }

  .footer-col .links li {
    list-style: none;
    margin-bottom: 10px;
  }

  .footer-col .links li a {
    text-decoration: none;
    color: #bfbfbf;
  }

  .footer-col .links li a:hover {
    color: #fff;
  }

  .footer-col p {
    margin: 20px 0;
    color: #bfbfbf;
    max-width: 300px;
  }

  .footer-col p:hover {
    color: #fff;
}

/*---------Responsive---------*/
@media (max-width: 768px) {
  .footer {
    left: 0;
  }
  .footer .footer-row {
    padding: 20px;
    flex-direction: column;
    gap: 2rem;
  }
}
/*----------------------------- ABOUT US PAGE -------------------------- */
.container-01 {
  display: flex;
}

.image {
  flex: 1;
  height: auto;
}

.text {
  flex: 1;
  padding: 20px;
}

.container-01 h1{
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
  font-weight: 400;
  font-size: 50px;
  color: #fff;
}

.container-01 p{
  text-align: left;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-size: 22px;
  color: #fff;
}

.business-hours h2{
  text-align: left;
  font-family: 'Times New Roman', Times, serif;
  font-weight: 400;
  font-size: 26px;
  color: #fff;
  margin-bottom: 10px;
}

.business-hours p{
  text-align: left;
  font-family: 'Montserrat', sans-serif;
  font-size: 22px;
  color: #fff;
}

.location h2{
  text-align: left;
  font-family: 'Times New Roman', Times, serif;
  font-weight: 400;
  font-size: 26px;
  color: #fff;
}

.location p{
  text-align: left;
  font-family: 'Montserrat', sans-serif;
  font-size: 22px;
  color: #fff;
}

/*---------Responsive---------*/
@media screen and (max-width: 768px) {
  .container-01 {
    flex-direction: column;
  }
  
  .text {
    padding: 10px;
  }
  
  .container-01 h1 {
    font-size: 36px;
  }
  
  .container-01 p {
    font-size: 18px;
  }
  
  .business-hours h2,
  .location h2 {
    font-size: 24px;
  }
  
  .business-hours p,
  .location p {
    font-size: 16px;
  }
}
/*----------------------------- CONTACT US PAGE -------------------------- */
body {
  color: white;
  font-family: Arial, sans-serif;
}

.contact-form {
  width: 50%;
  margin: 50px auto;
  padding: 20px;
  border-radius: 5px;
}

.contact-form h2 {
  color: #fff;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 39px;
}

.contact-form form {
  display: flex;
  flex-direction: column;
}

.contact-form label {
  margin-top: 10px;
  color: #fff;
}

.contact-form input,
.contact-form textarea {
  padding: 5px;
  margin-bottom: 10px;
}

.contact-form input[type="submit"] {
  color:#030201;
  background:#fff;
  border-style: double;
  padding: 4px;
  border-radius: 10px 10px 10px 10px;
  font-size: 24px;
  cursor: pointer;
  display: block;
  margin: 0 auto;
}

.contact p {
  font-family: 'Montserrat', sans-serif;
  font-size: 23px;
  display: flex;
  justify-content: center; 
  align-items: center; 
}

.contact ion-icon {
  margin-right: 3.5px;
}

/*---------Responsive---------*/
@media only screen and (max-width: 600px) {
  .contact-form {
    width: 80%;
  }

  .contact-form h2 {
    font-size: 30px;
  }

  .contact-form input[type="submit"] {
    font-size: 20px;
    padding: 3px;
  }

  .contact p {
    font-size: 18px;
  }
}
/*-----------------------------INDIVIDUAL PAGES -------------------------- */
.container-03 {
  display: flex;
  align-items: center;
}

.image-container {
  display: flex;
}

.images {
  width: 460px;
  height: auto;
  padding-left: 15px;
  margin-right: 10px;
}
.name h2{
  color: #fff;
  font-size: 36px;
  font-family: 'Times New Roman', Times, serif;
  text-align: center;
}

.info h6{
  font-size: 24px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}

.info h2{
  font-size: 32px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
}

/*---------Responsive---------*/
@media screen and (max-width: 768px) {
  .container-03 {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .images {
    width: 100%;
    padding: 0;
    margin: 0;
  }
}